body {
    
}
.box {
    padding: 15px;
    margin: top 0px;
    width: 100vw;
    height: 500px;
    background-image: linear-gradient(to right, rgb(110, 110, 122), rgb(243, 244, 248));
    /* .box creates the background for the entire page
    with starting w/ a shade of grey transitionin to white
    from left to right */
}

.center {
    display: block;
    margin-left: 540px;
    width: 100%;
}

.box-1 {
    display: flex;
    margin: 20px 0 20px 0;
}

.box-1 h2 {
    flex: 0 0 20%;
}

/* .box-2 & .half-col stylizes the images into rows and columns */

.box-2 {
    display: flex;
}

.box-2 h2 {
    flex: 0 0 20%;
}

.box-2 section a img {
    width: 100%;
}

.box-3 {
    display: flex;
    margin: 20px 0 20px 0;
}

.box-3 h3 {
    flex: 0 0 20%;
}

.center{
    float: right;
    width: 450px;
    margin-left: 540px;

}

.second-row, .third-row {
    display: flex;
}

.half-col {
    flex: 0 0 50%;
}

.first-row,.second-row a, .third-row a {
position: relative;
}

.first-row h2,.second-row a p, .third-row a p {
    position: absolute;
    bottom: 5%;
    background-color: antiquewhite;
}

.header {
    padding: 10px;
    font-family: 'Tahoma', sans-serif;
    width: 100vw;
    background-color: #091621;
    border-bottom: 5px solid rgb(255, 255, 255);
    color: #ffffff;
    text-align: left;
}

.header h1 {
    display: inline-block;
    font-size: 45px;
}

.header h1 .ces {
    color: #2e699c;
}

.header nav {
    padding-top: 25px;
    margin-right: 150px;
    float: right;
    font-family: 'Tahoma', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 60px;
}

a {
    color: #2e699c;
    text-decoration: none;
}

.wrapper {
    display: flex; 
   margin: 0;
   width: 400px;
}


